body {
  background-image: url("./assets/valley.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    75deg,
    rgb(20, 23, 33) 0%,
    rgb(20, 23, 33) 50%,
    rgba(20, 23, 33, 0.8) 100%
  );
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

.mainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e8e8e8;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #afafaf;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  width: 100px;
}
.auth-input {
  background-color: #3e404b;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  font-size: 20px;
  width: 400px;
  margin-bottom: 12px;
}
.auth-button {
  width: 88.2%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.44s ease;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
}
.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  color: white;
  background: rgb(43, 47, 60);
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-left: 1px solid transparent;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #565758;
  border-radius: 10px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #4d4d4d;
  border-radius: 10px;
}
